*{box-sizing:border-box; padding:0; margin:10;} 
.row::after {content:""; clear:both; display:table;}
.col-1{width:8.33%;} .col-2{width:16.66%;} .col-3{width:25%;} .col-4{width:33.33%;}
.col-5{width:41.66%;} .col-6{width:50%;} .col-7{width:58.33%;} .col-8{width:66.66%;}
.col-9{width:75%;} .col-10{width:83.33%;} .col-11{width:91.66%;} .col-12{width:100%;}

[class*="col-"] {float:left; padding:10px;} 
.header {background-color:pink; color:white; padding:15px; text-align:center; font-size:300%;} 
.footer {border:4px solid pink; background-color:white; color:white; padding:20px; text-align:center;}

.menu li {background-color:pink; color:white; padding:20px; margin-bottom:5px; box-shadow:0 1px 3px gray; text-align:center;}
.menu li:hover{color:none; background-color:yellow; text-decoration:none; }
.banner li{border:2px solid black; padding:10px; margin-bottom:10px; box-shadow: 0 1px 3px gray;}
 
table{text-align:center;}
td{width:100px; height: 40px;}

a:link{color:red; text-decoration:none;}
a:visited{color:purple;}

/* for mobile*/
[class*="col-"]{width:100%;}
@media only screen and (min-width: 600px){ .col-m-3{width:25%;} .col-m-9{width:75%;} .col-m-12{width:100%;} }
@media only screen and (min-width: 768px){.col-3{width:25%;} .col-6{width:50%;}}
